﻿
$primary: rgb(45, 91, 227);
$primary-darker: rgb(12, 57, 190);
$primary-lighter: rgb(223,238,248);
$border: #ddd;
$border-light: #f3f3f3;
$background-primary: rgb(245,245,245);
$text-light: #808080;
$breakpoint-sm: 767px;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: $background-primary;
    font-family: "Roboto", "Montserrat", "Helvetica Neue", Arial, sans-serif;

    > .container-fluid {
        padding: 0;
    }
}

.text-white {
    color: #fff;
}

.text-small {
    font-size: 12px;
}

.text-light {
    color: $text-light;
}

.margin-none {
    margin: 0;
}

.margin-bottom-none {
    margin-bottom: 0;
}

.padding-none {
    padding: 0;
}

.lh-30 {
    line-height: 30px;
}

.lh-25 {
    line-height: 25px;
}

.margin-20 {
    margin: 20px;
}

a {
    color: $primary;

    &:hover, &:focus, &:active {
        color: $primary;
    }
}

.btn-link {
    color: $primary;

    &:hover, &:focus {
        color: $primary-darker;
    }
}

/*#region SearchLayout */

.navbar-form .form-group {
    margin-right: 10px;
}

.busqueda-main-container .busqueda-mapa-container-fixed, .busqueda-main-container .busqueda-resultados-container {
    display: inline-block;
}

.busqueda-mapa-container-fixed {
    position: fixed;
    top: 50px;
    right: 0;
    left: 799px;
    z-index: 1029;
    height: 100%;
    padding-bottom: 51px;

    .mapa {
        height: 100%;
    }
}

.mapa-tooltip {
    position: absolute;
    display: none;
    z-index: 9999;
}

.busqueda-resultados-container {
    width: 800px;
    position: relative;

    .busqueda-titulo {
        background-color: $primary-lighter;
        border-radius: 0;
        z-index: 1030 !important;
    }
}

.busqueda-resultado {
    z-index: 1000 !important;
    border: 0;
    border-bottom: 1px $border solid;
    border-right: 1px $border solid;
    box-shadow: none;
    margin-bottom: 0;
    padding-bottom: 15px;
    border-radius: 0;

    .media {
        padding-left: 35px;
    }

    .media-heading {
        color: $primary;
    }
    
    h4 {
        font-size: 21px;
    }

    p.descripcion {
        font-size: 13px;
    }

    p.direccion {
        font-size: 12px;
        color: #808080;
    }

    &:last-of-type {
        border-bottom: 0;
        padding-bottom: 0;
    }

    img {
        border-radius: 2px;
        height: 128px;
        width: 128px;
    }

    hr {
        margin: 5px 0;
    }
}

.after-modal-appended {
    position: relative;
    min-height: 150px;
}

.modal.buscando-modal {
    position: absolute !important;
    z-index: 3;

    .modal-sm {
        width: 200px;
        margin: 70px auto;
    }

    .modal-content {
        padding: 20px 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    }
}

/*#endregion */

/*#region Navbar Travertino */

.navbar-travertino {
    background-color: $primary;
    border-color: $primary;

    .form-control {
        min-width: 180px;
    }
}

.navbar-travertino .navbar-brand {
    color: white;
}

.navbar-travertino .navbar-brand:hover,
.navbar-travertino .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-travertino .navbar-text {
    color: #fff;
}

.navbar-travertino .navbar-nav > li > a {
    color: #fff;
}

.navbar-travertino .navbar-nav > li > a:hover,
.navbar-travertino .navbar-nav > li > a:focus {
    color: $primary;
    background-color: $primary-lighter;
}

.navbar-travertino .navbar-nav > .active > a,
.navbar-travertino .navbar-nav > .active > a:hover,
.navbar-travertino .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #080808;
}

.navbar-travertino .navbar-nav > .disabled > a,
.navbar-travertino .navbar-nav > .disabled > a:hover,
.navbar-travertino .navbar-nav > .disabled > a:focus {
    color: #444;
    background-color: transparent;
}

.navbar-travertino .navbar-toggle {
    border-color: #333;
}

.navbar-travertino .navbar-toggle:hover,
.navbar-travertino .navbar-toggle:focus {
    background-color: #333;
}

.navbar-travertino .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-travertino .navbar-collapse,
.navbar-travertino .navbar-form {
    border-color: #101010;
}

.navbar-travertino .navbar-nav > .open > a,
.navbar-travertino .navbar-nav > .open > a:hover,
.navbar-travertino .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #080808;
}

@media (max-width: 767px) {
    .navbar-travertino .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }

    .navbar-travertino .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808;
    }

    .navbar-travertino .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }

    .navbar-travertino .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-travertino .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent;
    }

    .navbar-travertino .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-travertino .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-travertino .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #080808;
    }

    .navbar-travertino .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-travertino .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-travertino .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}

.navbar-travertino .navbar-link {
    color: #9d9d9d;
}

.navbar-travertino .navbar-link:hover {
    color: #fff;
}

.navbar-travertino .btn-link {
    color: #9d9d9d;
}

.navbar-travertino .btn-link:hover,
.navbar-travertino .btn-link:focus {
    color: #fff;
}

.navbar-travertino .btn-link[disabled]:hover,
fieldset[disabled] .navbar-travertino .btn-link:hover,
.navbar-travertino .btn-link[disabled]:focus,
fieldset[disabled] .navbar-travertino .btn-link:focus {
    color: #444;
}

.navbar-travertino {
    .btn-busqueda {
    }
}
/*#endregion */

/*#region Navbar Travertino Bottom */

.navbar-travertino-bottom {
    background-color: white;
    border: 0;
    border-top: 1px $border solid;
    border-right: 1px $border solid;
    min-height: 20px !important;
    height: 20px !important;
    z-index: 1028;

    .form-control {
        min-width: 180px;
    }
}

.navbar-travertino-bottom .navbar-brand {
    color: white;
}

.navbar-travertino-bottom .navbar-brand:hover,
.navbar-travertino-bottom .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-travertino-bottom .navbar-text {
    color: #000;
    margin: 0;
}

.navbar-travertino-bottom .navbar-nav > li > a {
    color: #fff;
}

.navbar-travertino-bottom .navbar-nav > li > a:hover,
.navbar-travertino-bottom .navbar-nav > li > a:focus {
    color: $primary;
    background-color: $primary-lighter;
}

.navbar-travertino-bottom .navbar-nav > .active > a,
.navbar-travertino-bottom .navbar-nav > .active > a:hover,
.navbar-travertino-bottom .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #080808;
}

.navbar-travertino-bottom .navbar-nav > .disabled > a,
.navbar-travertino-bottom .navbar-nav > .disabled > a:hover,
.navbar-travertino-bottom .navbar-nav > .disabled > a:focus {
    color: #444;
    background-color: transparent;
}

.navbar-travertino-bottom .navbar-toggle {
    border-color: #333;
}

.navbar-travertino-bottom .navbar-toggle:hover,
.navbar-travertino-bottom .navbar-toggle:focus {
    background-color: #333;
}

.navbar-travertino-bottom .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-travertino-bottom .navbar-collapse,
.navbar-travertino-bottom .navbar-form {
    border-color: #101010;
}

.navbar-travertino-bottom .navbar-nav > .open > a,
.navbar-travertino-bottom .navbar-nav > .open > a:hover,
.navbar-travertino-bottom .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #080808;
}

@media (max-width: 767px) {
    .navbar-travertino-bottom .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }

    .navbar-travertino-bottom .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808;
    }

    .navbar-travertino-bottom .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }

    .navbar-travertino-bottom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-travertino-bottom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent;
    }

    .navbar-travertino-bottom .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-travertino-bottom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-travertino-bottom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #080808;
    }

    .navbar-travertino-bottom .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-travertino-bottom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-travertino-bottom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}

.navbar-travertino-bottom .navbar-link {
    color: #9d9d9d;
}

.navbar-travertino-bottom .navbar-link:hover {
    color: #fff;
}

.navbar-travertino-bottom .btn-link {
    color: #9d9d9d;
}

.navbar-travertino-bottom .btn-link:hover,
.navbar-travertino-bottom .btn-link:focus {
    color: #fff;
}

.navbar-travertino-bottom .btn-link[disabled]:hover,
fieldset[disabled] .navbar-travertino-bottom .btn-link:hover,
.navbar-travertino-bottom .btn-link[disabled]:focus,
fieldset[disabled] .navbar-travertino-bottom .btn-link:focus {
    color: #444;
}

.navbar-travertino-bottom {
    .btn-busqueda {
    }
}
/*#endregion */

/*#region NgRepeatAnimation */

.resultado-fade {
    opacity: 1;

    &.ng-enter, &.ng-move {
        transition: all linear 0.25s;
        opacity: 0;
    }

    &.ng-enter.ng-enter-active, &.ng-move.ng-move-active {
        opacity: 1;
    }
}

/*#endregion */

/*#region Detalle View */

.detalle-container {

    .background-image-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 650px;
        z-index: 101;
        color: black;

        img {
            position: absolute;
            top: 0;
            left: 0;
            margin: auto;
            min-width: 50%;
            min-height: 50%;
            width: 100%;
            max-height: 100%;
            opacity: 0.75;
        }
    }

    .datos-container {
        position: relative;
        z-index: 102;
        padding: 16px;

        .row.flex {
            display: flex !important;
            flex-direction: row;
            justify-content: center;
        }

        .titulo {
            font-weight: 700;
            margin-bottom: 10px;
            margin-top: 30px;
        }

        .subtitulo {
            margin-top: 0;
            color: $text-light;
        }

        .detalle-navbar {
            margin-top: 30px;
        }

        .panel {
            margin-left: auto;
            margin-right: auto;
            border: 0;
            box-shadow: none;
            margin-bottom: 50px;

            .panel-body {
                padding-top: 15px;
                padding-right: 40px;
                padding-bottom: 30px;
                padding-left: 40px;
            }

            &.first-panel {
                background-color: rgba(255,255,255,0.95);
                margin-top: 100px;

                .panel-body {
                    padding: 15px;
                }
            }

            &.last-panel {
                margin-bottom: 24px;

                .panel-body {
                    padding-bottom: 10px;
                }
            }

            .subtitulo {
                margin-top: 0;
                margin-bottom: 20px;
            }
        }

        #acercade-panel {
            .mapa-container {
                height: 300px;
                margin-bottom: 30px;
            }

            .acercade-item {
                border-bottom: 1px $border dashed;
                margin-bottom: 20px;

                &:last-of-type {
                    border-bottom: 0;
                    margin-bottom: 10px;
                }

                @media (min-width: $breakpoint-sm) {
                    border-right: 1px $border dashed;
                    border-bottom: 0;
                    margin-bottom: 0;

                    &:last-of-type {
                        border-right: 0;
                    }
                }
            }
        }

        #servicios-panel {
            .servicio-item {
                padding: 15px;
                text-align: center;
                border-bottom: 1px $border dashed;

                &:last-of-type {
                    border-bottom: 0;
                }

                @media (min-width: $breakpoint-sm) {
                    text-align: left;
                }
            }
        }

        #testimonios-panel {

            .testimonio-item {
                padding: 15px;
                text-align: center;

                img {
                    height: 100px;
                    width: 100px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 10px;
                }

                @media (min-width: $breakpoint-sm) {
                    text-align: left;
                }
            }
        }
    }
}
/*#endregion */
