﻿@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: whitesmoke;
  font-family: "Roboto", "Montserrat", "Helvetica Neue", Arial, sans-serif; }
  body > .container-fluid {
    padding: 0; }

.text-white {
  color: #fff; }

.text-small {
  font-size: 12px; }

.text-light {
  color: #808080; }

.margin-none {
  margin: 0; }

.margin-bottom-none {
  margin-bottom: 0; }

.padding-none {
  padding: 0; }

.lh-30 {
  line-height: 30px; }

.lh-25 {
  line-height: 25px; }

.margin-20 {
  margin: 20px; }

a {
  color: #2d5be3; }
  a:hover, a:focus, a:active {
    color: #2d5be3; }

.btn-link {
  color: #2d5be3; }
  .btn-link:hover, .btn-link:focus {
    color: #0c39be; }

/*#region SearchLayout */
.navbar-form .form-group {
  margin-right: 10px; }

.busqueda-main-container .busqueda-mapa-container-fixed, .busqueda-main-container .busqueda-resultados-container {
  display: inline-block; }

.busqueda-mapa-container-fixed {
  position: fixed;
  top: 50px;
  right: 0;
  left: 799px;
  z-index: 1029;
  height: 100%;
  padding-bottom: 51px; }
  .busqueda-mapa-container-fixed .mapa {
    height: 100%; }

.mapa-tooltip {
  position: absolute;
  display: none;
  z-index: 9999; }

.busqueda-resultados-container {
  width: 800px;
  position: relative; }
  .busqueda-resultados-container .busqueda-titulo {
    background-color: #dfeef8;
    border-radius: 0;
    z-index: 1030 !important; }

.busqueda-resultado {
  z-index: 1000 !important;
  border: 0;
  border-bottom: 1px #ddd solid;
  border-right: 1px #ddd solid;
  box-shadow: none;
  margin-bottom: 0;
  padding-bottom: 15px;
  border-radius: 0; }
  .busqueda-resultado .media {
    padding-left: 35px; }
  .busqueda-resultado .media-heading {
    color: #2d5be3; }
  .busqueda-resultado h4 {
    font-size: 21px; }
  .busqueda-resultado p.descripcion {
    font-size: 13px; }
  .busqueda-resultado p.direccion {
    font-size: 12px;
    color: #808080; }
  .busqueda-resultado:last-of-type {
    border-bottom: 0;
    padding-bottom: 0; }
  .busqueda-resultado img {
    border-radius: 2px;
    height: 128px;
    width: 128px; }
  .busqueda-resultado hr {
    margin: 5px 0; }

.after-modal-appended {
  position: relative;
  min-height: 150px; }

.modal.buscando-modal {
  position: absolute !important;
  z-index: 3; }
  .modal.buscando-modal .modal-sm {
    width: 200px;
    margin: 70px auto; }
  .modal.buscando-modal .modal-content {
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }

/*#endregion */
/*#region Navbar Travertino */
.navbar-travertino {
  background-color: #2d5be3;
  border-color: #2d5be3; }
  .navbar-travertino .form-control {
    min-width: 180px; }

.navbar-travertino .navbar-brand {
  color: white; }

.navbar-travertino .navbar-brand:hover,
.navbar-travertino .navbar-brand:focus {
  color: #fff;
  background-color: transparent; }

.navbar-travertino .navbar-text {
  color: #fff; }

.navbar-travertino .navbar-nav > li > a {
  color: #fff; }

.navbar-travertino .navbar-nav > li > a:hover,
.navbar-travertino .navbar-nav > li > a:focus {
  color: #2d5be3;
  background-color: #dfeef8; }

.navbar-travertino .navbar-nav > .active > a,
.navbar-travertino .navbar-nav > .active > a:hover,
.navbar-travertino .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #080808; }

.navbar-travertino .navbar-nav > .disabled > a,
.navbar-travertino .navbar-nav > .disabled > a:hover,
.navbar-travertino .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent; }

.navbar-travertino .navbar-toggle {
  border-color: #333; }

.navbar-travertino .navbar-toggle:hover,
.navbar-travertino .navbar-toggle:focus {
  background-color: #333; }

.navbar-travertino .navbar-toggle .icon-bar {
  background-color: #fff; }

.navbar-travertino .navbar-collapse,
.navbar-travertino .navbar-form {
  border-color: #101010; }

.navbar-travertino .navbar-nav > .open > a,
.navbar-travertino .navbar-nav > .open > a:hover,
.navbar-travertino .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808; }

@media (max-width: 767px) {
  .navbar-travertino .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808; }
  .navbar-travertino .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808; }
  .navbar-travertino .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d; }
  .navbar-travertino .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-travertino .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent; }
  .navbar-travertino .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-travertino .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-travertino .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808; }
  .navbar-travertino .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-travertino .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-travertino .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent; } }

.navbar-travertino .navbar-link {
  color: #9d9d9d; }

.navbar-travertino .navbar-link:hover {
  color: #fff; }

.navbar-travertino .btn-link {
  color: #9d9d9d; }

.navbar-travertino .btn-link:hover,
.navbar-travertino .btn-link:focus {
  color: #fff; }

.navbar-travertino .btn-link[disabled]:hover,
fieldset[disabled] .navbar-travertino .btn-link:hover,
.navbar-travertino .btn-link[disabled]:focus,
fieldset[disabled] .navbar-travertino .btn-link:focus {
  color: #444; }

/*#endregion */
/*#region Navbar Travertino Bottom */
.navbar-travertino-bottom {
  background-color: white;
  border: 0;
  border-top: 1px #ddd solid;
  border-right: 1px #ddd solid;
  min-height: 20px !important;
  height: 20px !important;
  z-index: 1028; }
  .navbar-travertino-bottom .form-control {
    min-width: 180px; }

.navbar-travertino-bottom .navbar-brand {
  color: white; }

.navbar-travertino-bottom .navbar-brand:hover,
.navbar-travertino-bottom .navbar-brand:focus {
  color: #fff;
  background-color: transparent; }

.navbar-travertino-bottom .navbar-text {
  color: #000;
  margin: 0; }

.navbar-travertino-bottom .navbar-nav > li > a {
  color: #fff; }

.navbar-travertino-bottom .navbar-nav > li > a:hover,
.navbar-travertino-bottom .navbar-nav > li > a:focus {
  color: #2d5be3;
  background-color: #dfeef8; }

.navbar-travertino-bottom .navbar-nav > .active > a,
.navbar-travertino-bottom .navbar-nav > .active > a:hover,
.navbar-travertino-bottom .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #080808; }

.navbar-travertino-bottom .navbar-nav > .disabled > a,
.navbar-travertino-bottom .navbar-nav > .disabled > a:hover,
.navbar-travertino-bottom .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent; }

.navbar-travertino-bottom .navbar-toggle {
  border-color: #333; }

.navbar-travertino-bottom .navbar-toggle:hover,
.navbar-travertino-bottom .navbar-toggle:focus {
  background-color: #333; }

.navbar-travertino-bottom .navbar-toggle .icon-bar {
  background-color: #fff; }

.navbar-travertino-bottom .navbar-collapse,
.navbar-travertino-bottom .navbar-form {
  border-color: #101010; }

.navbar-travertino-bottom .navbar-nav > .open > a,
.navbar-travertino-bottom .navbar-nav > .open > a:hover,
.navbar-travertino-bottom .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808; }

@media (max-width: 767px) {
  .navbar-travertino-bottom .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808; }
  .navbar-travertino-bottom .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808; }
  .navbar-travertino-bottom .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d; }
  .navbar-travertino-bottom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-travertino-bottom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent; }
  .navbar-travertino-bottom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-travertino-bottom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-travertino-bottom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808; }
  .navbar-travertino-bottom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-travertino-bottom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-travertino-bottom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent; } }

.navbar-travertino-bottom .navbar-link {
  color: #9d9d9d; }

.navbar-travertino-bottom .navbar-link:hover {
  color: #fff; }

.navbar-travertino-bottom .btn-link {
  color: #9d9d9d; }

.navbar-travertino-bottom .btn-link:hover,
.navbar-travertino-bottom .btn-link:focus {
  color: #fff; }

.navbar-travertino-bottom .btn-link[disabled]:hover,
fieldset[disabled] .navbar-travertino-bottom .btn-link:hover,
.navbar-travertino-bottom .btn-link[disabled]:focus,
fieldset[disabled] .navbar-travertino-bottom .btn-link:focus {
  color: #444; }

/*#endregion */
/*#region NgRepeatAnimation */
.resultado-fade {
  opacity: 1; }
  .resultado-fade.ng-enter, .resultado-fade.ng-move {
    transition: all linear 0.25s;
    opacity: 0; }
  .resultado-fade.ng-enter.ng-enter-active, .resultado-fade.ng-move.ng-move-active {
    opacity: 1; }

/*#endregion */
/*#region Detalle View */
.detalle-container .background-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 650px;
  z-index: 101;
  color: black; }
  .detalle-container .background-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    width: 100%;
    max-height: 100%;
    opacity: 0.75; }

.detalle-container .datos-container {
  position: relative;
  z-index: 102;
  padding: 16px; }
  .detalle-container .datos-container .row.flex {
    display: flex !important;
    flex-direction: row;
    justify-content: center; }
  .detalle-container .datos-container .titulo {
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 30px; }
  .detalle-container .datos-container .subtitulo {
    margin-top: 0;
    color: #808080; }
  .detalle-container .datos-container .detalle-navbar {
    margin-top: 30px; }
  .detalle-container .datos-container .panel {
    margin-left: auto;
    margin-right: auto;
    border: 0;
    box-shadow: none;
    margin-bottom: 50px; }
    .detalle-container .datos-container .panel .panel-body {
      padding-top: 15px;
      padding-right: 40px;
      padding-bottom: 30px;
      padding-left: 40px; }
    .detalle-container .datos-container .panel.first-panel {
      background-color: rgba(255, 255, 255, 0.95);
      margin-top: 100px; }
      .detalle-container .datos-container .panel.first-panel .panel-body {
        padding: 15px; }
    .detalle-container .datos-container .panel.last-panel {
      margin-bottom: 24px; }
      .detalle-container .datos-container .panel.last-panel .panel-body {
        padding-bottom: 10px; }
    .detalle-container .datos-container .panel .subtitulo {
      margin-top: 0;
      margin-bottom: 20px; }
  .detalle-container .datos-container #acercade-panel .mapa-container {
    height: 300px;
    margin-bottom: 30px; }
  .detalle-container .datos-container #acercade-panel .acercade-item {
    border-bottom: 1px #ddd dashed;
    margin-bottom: 20px; }
    .detalle-container .datos-container #acercade-panel .acercade-item:last-of-type {
      border-bottom: 0;
      margin-bottom: 10px; }
    @media (min-width: 767px) {
      .detalle-container .datos-container #acercade-panel .acercade-item {
        border-right: 1px #ddd dashed;
        border-bottom: 0;
        margin-bottom: 0; }
        .detalle-container .datos-container #acercade-panel .acercade-item:last-of-type {
          border-right: 0; } }
  .detalle-container .datos-container #servicios-panel .servicio-item {
    padding: 15px;
    text-align: center;
    border-bottom: 1px #ddd dashed; }
    .detalle-container .datos-container #servicios-panel .servicio-item:last-of-type {
      border-bottom: 0; }
    @media (min-width: 767px) {
      .detalle-container .datos-container #servicios-panel .servicio-item {
        text-align: left; } }
  .detalle-container .datos-container #testimonios-panel .testimonio-item {
    padding: 15px;
    text-align: center; }
    .detalle-container .datos-container #testimonios-panel .testimonio-item img {
      height: 100px;
      width: 100px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px; }
    @media (min-width: 767px) {
      .detalle-container .datos-container #testimonios-panel .testimonio-item {
        text-align: left; } }

/*#endregion */

