﻿@using Newtonsoft.Json
@{
    ViewBag.Title = "Detalle - Directorio";
    Layout = "~/Views/Shared/_SearchLayout.cshtml";
}

<div class=" detalle-container" ng-controller="DetalleCtrl as ctrl">
    <div class="background-image-container">
        <img ng-src="{{ctrl.data.ImagenUrl}}" alt="" />
    </div>

    <div class="datos-container">
        
        <div class="row flex">
            <div class="col-xs-12 col-sm-12 col-md-10">
                <div class="panel panel-default first-panel">
                    <div class="panel-body text-center">
                        <div class="row">
                            <div class="col-xs-12" ng-cloak>
                                <h1 class="titulo">{{ctrl.data.Nombre}}</h1>
                                <h3 class="subtitulo" ng-bind-html="ctrl.data.Descripcion"></h3>
                            </div>
                            <div class="col-xs-12 detalle-navbar">
                                <button class="btn btn-link btn-lg" type="button" ng-click="ctrl.verPanel('acercade-panel')">Acerca de</button> |
                                <button class="btn btn-link btn-lg" type="button" ng-click="ctrl.verPanel('servicios-panel')">Servicios</button> |
                                <button class="btn btn-link btn-lg" type="button" ng-click="ctrl.verPanel('testimonios-panel')" >Testimonios</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row flex">
            <div class="col-xs-12 col-sm-12 col-md-10">
                <div class="panel panel-default" id="acercade-panel">
                    <div class="panel-body text-center">
                        <div class="row margin-20">
                            <div class="col-xs-12 col-sm-4 acercade-item" ng-cloak>
                                <i class="fa fa-2x fa-clock-o"></i>
                                <br />
                                <h4 class="text-light">Horarios</h4>
                                <p ng-bind-html="ctrl.data.Horario"></p>
                            </div>
                            <div class="col-xs-12 col-sm-4 acercade-item" ng-cloak>
                                <i class="fa fa-2x fa-map-marker"></i>
                                <br />
                                <h4 class="text-light">Ubicación</h4>
                                <p ng-bind-html="ctrl.data.Direccion"></p>
                            </div>
                            <div class="col-xs-12 col-sm-4 acercade-item" ng-cloak>
                                <i class="fa fa-2x fa-phone"></i>
                                <h4 class="text-light">Contacto</h4>
                                <p class="margin-bottom-none"><span ng-bind-html="ctrl.data.TelefonosDescripcion"></span></p>
                                <p ng-if="ctrl.data.Email">Email: {{ctrl.data.Email}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="mapa-container" id="mapa-container"></div>
                            </div>
                        </div>
                        <div class="row lh-30">
                            <div class="col-xs-12" ng-cloak>
                                <h3 class="subtitulo text-light">Acerca de Nostros</h3>
                                <p ng-bind-html="ctrl.data.AcercaDe"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row flex" ng-if="ctrl.data.Servicios">
            <div class="col-xs-12 col-sm-12 col-md-10">
                <div class="panel panel-default" id="servicios-panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12  text-center" ng-cloak>
                                <h3 class="subtitulo text-light">Nuestros Servicios</h3>
                            </div>
                            <div class="col-xs-12 lh-25">
                                <div class="row servicio-item" ng-repeat="servicio in ctrl.data.Servicios track by servicio.Id">
                                    <div class="col-xs-12">
                                        <i class="fa fa-check"></i> <b>{{servicio.Nombre}}</b>
                                    </div>
                                    <div class="col-xs-12 text-light">
                                        {{servicio.Descripcion}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row flex" ng-if="ctrl.data.Testimonios">
            <div class="col-xs-12 col-sm-12 col-md-10">

                <div class="panel panel-default last-panel" id="testimonios-panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12  text-center" ng-cloak>
                                <h3 class="subtitulo text-light">Testimonios de Nuestros Clientes</h3>
                            </div>
                            <div class="col-xs-12 lh-25">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 testimonio-item" ng-repeat="testimonio in ctrl.data.Testimonios track by testimonio.Id">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-2">
                                                <img class="img-circle" ng-src="{{testimonio.ImagenUrl}}">
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-10">
                                                <h4>{{testimonio.Nombre}}</h4>
                                                <p class="text-light">
                                                    {{testimonio.Descripcion}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts {
    <script>
        angular.module('DirApp').controller('DetalleCtrl', DetalleCtrl);

        function DetalleCtrl() {
            var vm = this;
            vm.data = @Html.Raw(JsonConvert.SerializeObject(Model));

            vm.verPanel = verPanel;
            var mapa = iniciarMapa();

            function verPanel(panelId) {
                var element = $('#' + panelId);
                var top = element.offset().top - 50;
                $('html, body').animate({ scrollTop: top }, 'fast');
            }

            function iniciarMapa() {
                var posicion = {
                    lat: vm.data.Coordenadas.Latitud,
                    lng: vm.data.Coordenadas.Longitud
                };

                mapa = new window.google.maps.Map(document.getElementById('mapa-container'), {
                    center: posicion,
                    zoom: 17
                });

                var marcador = new window.google.maps.Marker({
                    position: posicion,
                    map: mapa
                });
            }
        }

    </script>
}