﻿@{
    ViewBag.Title = "Directorio - Directorio";
    Layout = "~/Views/Shared/_SearchLayout.cshtml";
}

<div class="busqueda-main-container">
    <div class="busqueda-resultados-container">
        <div class="panel panel-default busqueda-titulo margin-none" ng-cloak>
            <div class="panel-body">
                <h5 class="margin-none" ng-bind-html="busquedaCtrl.resultados.status()"></h5>
            </div>
        </div>
        <div class="panel panel-default busqueda-resultado resultado-fade" 
             ng-cloak 
             ng-repeat="resultado in busquedaCtrl.resultados.data track by resultado.Id" 
             ng-mouseenter="busquedaCtrl.resultadoEnter($index)" 
             ng-mouseleave="busquedaCtrl.resultadoLeave($index)" id="{{'resultado-' + $index}}">
            <div class="panel-body">
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading text-primary">
                            {{$index+1}}. <a ng-href="/Directorio/Detalle?companyId={{resultado.Id}}">{{resultado.Nombre}}</a>
                        </h4>
                        <p class="descripcion" ng-bind-html="resultado.Descripcion"></p>
                        <hr />
                        <p class="direccion">
                            Dirección: {{resultado.Direccion}}
                            <br />
                            Horarios: <span ng-bind-html="resultado.Horario"></span>
                        </p>
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img ng-src="{{resultado.ImagenUrl}}" alt="" class="media-object" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade buscando-modal" tabindex="-1" role="dialog" data-backdrop="false">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content text-center">
                    <i class="fa fa-spinner fa-spin"></i> Buscando
                </div>
            </div>
        </div>

    </div>
    <div class="busqueda-mapa-container-fixed">
        <div class="mapa" id="mapa"></div>
    </div>
</div>