﻿@using Newtonsoft.Json
<!DOCTYPE html>
<html ng-app="DirApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body ng-controller="BusquedaCtrl as busquedaCtrl">
    <nav class="navbar navbar-travertino navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Directorio/Index" class="navbar-brand">Travertino Directorio</a>
            </div>
            <div class="navbar-collapse collapse">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input class="form-control" type="text" name="BusquedaTermino" id="busqueda-termino" placeholder="¿Qué estás buscando?"
                               ng-model="busquedaCtrl.busqueda.termino"
                               uib-typeahead="sugerencia for sugerencia in busquedaCtrl.obtenerSugerencias($viewValue)"
                               typeahead-min-length="0" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="BusquedaUbicacion" id="busqueda-ubicacion" placeholder="¿En dónde?"
                               ng-model="busquedaCtrl.busqueda.ubicacion"
                               uib-typeahead="ubicacion.Nombre for ubicacion in busquedaCtrl.obtenerUbicaciones($viewValue)"
                               typeahead-min-length="3" />
                    </div>
                    <button type="button" class="btn btn-info" ng-click="busquedaCtrl.buscar()" ng-disabled="busquedaCtrl.busqueda.procesando"><i class="fa fa-search"></i> Buscar Ahora</button>
                </form>
                <form class="navbar-form navbar-right">
                    <a href="#" class="btn btn-default">Registro</a>
                    <a href="#" class="btn btn-default">Suscripción</a>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>

    <nav class="navbar navbar-travertino-bottom navbar-fixed-bottom">
        <div class="container-fluid">
            <p class="text-small text-light">&copy; @DateTime.Now.Year - Travertino Directorio. Derechos reservados.</p>
        </div>
    </nav>

    <div id="mapa-tooltip"></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    <script>
        angular.module("DirApp", ['ngSanitize', 'ngAnimate', 'ui.bootstrap']);
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src='//maps.googleapis.com/maps/api/js?key=AIzaSyAzJPzmYZncj763C7-lagL4BfEZkT3ajUI'></script>
    <script src="~/Scripts/loadash.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script>
        angular.module('DirApp').controller('BusquedaCtrl', BusquedaCtrl);

        function BusquedaCtrl($scope, $http, $q, $timeout) {
            var busquedaExterna = @Html.Raw(JsonConvert.SerializeObject(ViewBag.BusquedaExterna));
            var resultados = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Resultados));
            var categorias = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Categorias));
            var esPrincipal = @Html.Raw(JsonConvert.SerializeObject(ViewBag.EsPrincipal));
            var mapa = null;
            var baseApi = '/api/directorio';

            var vm = this;
            vm.busqueda = new Busqueda();
            vm.obtenerSugerencias = obtenerSugerencias;
            vm.obtenerUbicaciones = obtenerUbicaciones;
            vm.obtenerId = obtenerId;
            vm.buscar = buscar;
            vm.resultados = new Resultados();
            vm.resultadoEnter = resultadoEnter;
            vm.resultadoLeave = resultadoLeave;

            start();

            function start() {
                if (!esPrincipal)
                    return;

                mapa = iniciarMapa();
                if (busquedaExterna != null) {
                    vm.busqueda.termino = busquedaExterna.Termino;
                    vm.busqueda.ubicacion = busquedaExterna.Ubicacion;
                    mostrarResultados(resultados);
                }
            }

            function Busqueda() {
                this.termino =null;
                this.ubicacion = null;
                this.status = null;
                this.resultados = [];
                this.procesando = false;
            }

            function buscar() {
                if (!esBusquedaValida() || vm.busqueda.procesando)
                    return;

                if (!esPrincipal) {
                    redirigirInicioParaObtenerResultados();
                } else {
                    obtenerResultados();
                }

                return;

                function redirigirInicioParaObtenerResultados() {
                    location.href = '/directorio/index?termino=' + vm.busqueda.termino + '&ubicacion=' + vm.busqueda.ubicacion;
                }

                function obtenerResultados() {
                    vm.busqueda.procesando = true;
                    $('.buscando-modal').modal('show');
                    $('.busqueda-resultados-container').addClass('after-modal-appended');
                    $('body').removeClass('modal-open');
                    $('body').css('padding-right', '');

                    var url = baseApi + '/busqueda';
                    var params = {
                        termino: vm.busqueda.termino,
                        ubicacion: vm.busqueda.ubicacion
                    };

                    $http.get(url, { params: params }).then(function success(response) {
                        vm.resultados = [];

                        $timeout(function () {
                            mostrarResultados(response.data);
                        });

                        $('.buscando-modal').modal('hide');
                        $('.busqueda-resultados-container').removeClass('after-modal-appended');
                        vm.busqueda.procesando = false;
                    });
                }

                function esBusquedaValida() {
                    return vm.busqueda.termino && vm.busqueda.ubicacion;
                }
            }

            function mostrarResultados(resultados) {
                vm.resultados = new Resultados(vm.busqueda.termino, vm.busqueda.ubicacion, resultados);
                var coordenadasResultados = vm.resultados.data.map(function(data) { return data.Coordenadas; });
                actualizarMarcadores(coordenadasResultados);
            }

            function obtenerSugerencias(indicio) {
                if (indicio) {
                    return sugerenciasPorIndicio(indicio);
                } else {
                    return sugerenciasPorCategorias();
                }

                function sugerenciasPorIndicio(indicio) {
                    var url = baseApi + '/sugerencias';
                    var params = {
                        indicio: indicio
                    };

                    return $http.get(url, { params: params }).then(function success(response) {
                        return response.data;
                    });
                }

                function sugerenciasPorCategorias() {
                    if (categorias) {
                        return categorias;
                    }

                    var url = baseApi + '/categorias';
                    return $http.get(url).then(function success(response) {
                        return response.data;
                    });
                }
            }

            function obtenerUbicaciones(indicio) {
                var url = baseApi + '/ubicaciones';
                var params = {
                    indicio: indicio
                };

                return $http.get(url, { params: params }).then(function success(response) {
                    return response.data;
                });
            }

            function Resultados(termino, ubicacion, data) {
                this.termino = termino;
                this.ubicacion = ubicacion;
                this.data = data;
            }

            Resultados.prototype.status = function () {
                if (this.data == null)
                    return 'Aún no has realizado ninguna búsqueda.';

                return this.data.length > 0
                    ? 'Resultados para <b>' + this.termino + '</b> en <b>' + this.ubicacion + '</b>'
                    : 'No se encontraron resultados para <b>' + this.termino + '</b> en <b>' + this.ubicacion + '</b>';
            }

            function iniciarMapa() {
                var mapa = {
                    googleMap: null,
                    marcadores: [],
                    infoWindows: []
                }

                mapa.googleMap = new window.google.maps.Map(document.getElementById('mapa'), {
                    center: { lat: 25.554499, lng: -103.459302 },
                    zoom: 13
                });

                agregarEventosMapa(mapa);

                return mapa;

                function agregarEventosMapa(mapa) {
                    window.google.maps.event.addListener(mapa.googleMap, 'bounds_changed', function () {
                        if (this.getZoom() > 17) {
                            this.setZoom(17);
                        }
                    });
                }
            }

            function actualizarMarcadores(coordenadasGroup) {
                for (var i = 0; i < mapa.marcadores.length; i++) {
                    mapa.marcadores[i].setMap(null);
                }

                var limitesMarcadores = new window.google.maps.LatLngBounds();
                mapa.marcadores = [];
                mapa.infoWindows = [];

                for (var j = 0; j < coordenadasGroup.length; j++) {
                    var marcador = crearMarcador(j, coordenadasGroup[j]);
                    agregarEventos(marcador);

                    mapa.marcadores.push(marcador);
                    mapa.infoWindows.push(null);

                    var limite = new window.google.maps.LatLng(coordenadasGroup[j].Latitud, coordenadasGroup[j].Longitud);
                    limitesMarcadores.extend(limite);
                }

                if (mapa.marcadores.length > 0) {
                    mapa.googleMap.fitBounds(limitesMarcadores);
                } else {
                    mapa.googleMap.setCenter({ lat: 25.554499, lng: -103.459302 });
                    mapa.googleMap.setZoom(13);
                }

                return;

                function crearMarcador(index, coordenadas) {
                    return new window.google.maps.Marker({
                        position: {
                            lat: coordenadas.Latitud,
                            lng: coordenadas.Longitud
                        },
                        label: {
                            text: (index + 1).toString(),
                            fontWeight: 'bold',
                            color: 'white'
                        },
                        map: mapa.googleMap,
                        zIndex: (1001 + index),
                        zIndexInicial: (1001 + index),
                        index: index
                    });
                }

                function agregarEventos(marcador) {
                    marcador.addListener('mouseover', function () {
                        mostrarInfoWindow(this);
                    });

                    marcador.addListener('mouseout', function () {
                        ocultarInfoWindow(this);
                    });

                    marcador.addListener('click', function () {
                        var id = obtenerId(this.index);
                        var top = $(id).offset().top - 50;
                        $('html, body').animate({ scrollTop: top }, 'fast');
                    });
                }
            }

            function mostrarInfoWindow(marcador) {
                var r = vm.resultados.data[marcador.index];
                var infoWindow = new window.google.maps.InfoWindow({
                    content: '<div class="text-center"><b>' + r.Nombre + '</b>' +
                    '<br />' +
                    '<span class="text-small text-light">' + r.Direccion + '<br />' + r.Horario + '</span></div>'
                });

                mapa.infoWindows[marcador.index] = infoWindow;
                mapa.infoWindows[marcador.index].open(mapa.googleMap, marcador);

                var resultadoId = obtenerId(marcador.index);
                $(resultadoId).css('background-color', '#f4f9fc');
            }

            function ocultarInfoWindow(marcador) {
                mapa.infoWindows[marcador.index].close();
                var resultadoId = obtenerId(marcador.index);
                $(resultadoId).css('background-color', 'white');
            }

            function resultadoEnter(index) {
                var marcador = mapa.marcadores[index];
                marcador.setZIndex(9999);
                mostrarInfoWindow(marcador);
            }

            function resultadoLeave(index) {
                var marcador = mapa.marcadores[index];
                marcador.setZIndex(marcador.zIndexInicial);
                ocultarInfoWindow(marcador);
            }

            function obtenerId(index) {
                return '#resultado-' + index;
            }
        }

        (function () {
            $.fn.select2.defaults.set('theme', 'bootstrap');
        })();
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>